<div id="graph1" class="chart-block">
  <div class="chart-block-title"></div>
  <div class="chart-block-column text">
    <div class="chart-block-text">
      <div>Menos de 2 días</div>
      <div></div>
    </div>
    <div class="chart-block-text">
      <div>2 días</div>
      <div></div>
    </div>
    <div class="chart-block-text">
      <div>Más de 2 días</div>
      <div></div>
    </div>
  </div>
  <div class="chart-block-column chart"></div>
</div>

