<div class="ContainerBg">
  <div class="quickStatsMonitor">
    <li class="redStatFigQuick">
    <h2>0.5 día</h2>

    </li>
    <li class="orangeGoldFigQuick">
    <h2>32 días</h2>

    </li>
    <small>¿Qué es esto?</small>
  </div>
  <div >
    <h2 class="leftCarat" ><strong>Cantidad de días de espera para<br /> otorgar consultas médicas </strong><br /> Respecto a la ley y a la opinión de la gente,<br /> ¿las mutualistas cumplen los plazos?
    </h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-10 margin_l30px">
        <div id="graph"><%= image_tag "graph.png", class: "map" %></div>
      </div>
      <br clear="all" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-10 margin_l30px">
        <div class="col-md-6 redBox">Lo recabado sobre las mutualistas <br />(<strong>NO</strong> cumplen con los plazos de Ley)</div>
        <div class="col-md-6 greenBox"> Lo recabado sobre las mutualistas <br />(<strong>SÍ</strong> cumplen con los plazos de Ley)
        </div>
        <br clear="all" />
        <div class="col-md-10 BrownBox">Opinión de la gente</div>
      </div>
    </div>
    <div class="col-lg-12 Opina"><a href="#">Opiná</a><br clear="all" /></div>
  </div>
</div>

