<div>
  <h2 class="leftCarat" ><strong>Cantidad de días de espera para<br /> otorgar consultas médicas </strong><br /> Respecto a la ley, ¿qué departamento<br /> cumple los plazos?</h2>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-7 margin_l30px">
      <div id="map"><%= image_tag "map.png", class: "map" %></div>
      <h3 class="Que">¿Que opiná la gente sobre estos plazos?</h3>
    </div>
    <div class="col-md-4">
      <ul class="mapStats">
        <li class="redLable">
        <p>Departamento donde en promedio, lo recabado sobre las mutualistas, constata que <strong>NO</strong> se cumplieron con los plazos de Ley para otorgar consulas médicas </p>
        </li>
        <li class="greenLable">
        <p>Departamento donde en promedio, lo recabado sobre las mutualistas, constata que <strong>SÍ</strong> se  cumplieron con los plazos de Ley para otorgar consulas médicas
        </p>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="col&#45;lg&#45;12 Opina"><a href="#">Opiná</a><br clear="all" /></div> -->
</div>
